@import '../../styles/Variables.scss';

.wrapper {
  width: inherit;
  height: calc(40svh + ($index * 2));
  margin: 0 $index;
  display: flex;
  justify-content: center;
}
.container {
  width: 80svw;
  height: inherit;
  padding: 0 $index;
  box-shadow: inset 0 0 20px black;
  border-radius: $index;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  display: grid;
  place-items: center;
}
.ServiseCard {
  width: calc($index * 9);
  height: calc($index * 11);
  background: $liner-gradient;
  border-radius: $index;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(black, 0.4);
  transition: $main-transition;
  &:hover {
    box-shadow: 0 15px 25px rgba($accent-color-1, 0.5);
    transform: translateY(-10%);
  }
}
.ServiseCard__content {
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: calc($index * 1.4);
  align-items: center;
  text-align: center;
  img {
    width: calc($index * 3.3);
    height: calc($index * 3.3);
  }
}
